<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438305262480-cj3sm8197qraheripfsi8970trkmdqee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438305262480-cj3sm8197qraheripfsi8970trkmdqee</string>
	<key>API_KEY</key>
	<string>AIzaSyBfR_6-IchyOQJjZa22MFD_V3oY0BPAtAA</string>
	<key>GCM_SENDER_ID</key>
	<string>438305262480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DD.Movies</string>
	<key>PROJECT_ID</key>
	<string>iosmoviesviper</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmoviesviper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438305262480:ios:fa03c22e7a4b16ec3a0115</string>
</dict>
</plist>